@import url("https://fonts.googleapis.com/css2?family=Arimo&display=swap");
:root {
  --shadow: rgba(0, 0, 0, 0.5);
  --text-menu-color: rgba(0, 0, 0, 0.6);
}

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Arimo", sans-serif;
}

body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.all {
  position: relative;
  display: flex;
  padding: 20px;
}

.menu-container {
  position: absolute;
  top: 0;
  right: 0;
  margin-left: 50px;
  display: flex;
  position: relative;
  z-index: 2;
  /* border: 1px solid red; */

  gap: 10px;
}

.menu-container > div {
  background-color: white;
  /* border: 1px solid grey; */
  border-radius: 20px;
  box-shadow: 0 10px 10px var(--shadow), inset 0 0 2px var(--shadow);
  height: 50px;
  padding-left: 40px;
  padding-right: 40px;

  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-menu-color);
}

.menu {
}

.title {
  font-size: 1em;
  color: var(--text-menu-color);
}

.menu-container .lat-lon-input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.input-wrapper {
  display: flex;
  justify-content: space-between;
  width: 250px;
}

.map {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 0;
}
